[Unit]
Description=My Script Service
After=network.target

[Service]
User=Admin
WorkingDirectory=/home/Admin/aptconf
ExecStart=/bin/bash /home/Admin/aptconf/test.sh

[Install]
WantedBy=multi-user.target
